
header {
  height:15vh;
  width:100vw;
  background: rgb(60, 60, 60);
}

body{
  height:85vh;
  width:100vw;
  background: lightgray;
}


#footer {
  position:absolute;
  left: 50%;
  transform: translate(-50%);
  bottom:0;
  height:10vh;
  width:80vw;
  background: black;
}

#content {
  position:absolute;
  left: 50%;
  transform: translate(-50%); 
  height:75vh;
  width:80vw; 
  background: white;
}

